# ts
*.js
*.d.ts

# yarn
node_modules
yarn-error.log

# CDK assets
.cdk.staging
cdk.out
cdk.context.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db
